### Graficos
dataset 1 : https://www.kaggle.com/datasets/saidaantonyan/iris-classifier-with-knn?select=Iris.csv
dataset 2 : https://www.kaggle.com/datasets/pabloa/wine-magazine?select=winemag-data_first150k.csv

In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from datagenerator import DataGenerator

import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

In [4]:
datagen = DataGenerator()

In [6]:
df1 = pd.DataFrame()
dataset = datagen.download_dataset_zip("saidaantonyan/iris-classifier-with-knn") 
csv_dir =datagen.extract_zip_files(dataset)
df1 = datagen.create_csv(csv_dir)

Descargando dataset desde Kaggle...
Ruta al dataset: /home/codespace/.cache/kagglehub/datasets/saidaantonyan/iris-classifier-with-knn/versions/1
No se encontró archivo ZIP pero se detectaron archivos CSV; se asume que el dataset ya se encuentra extraído.
Leyendo /home/codespace/.cache/kagglehub/datasets/saidaantonyan/iris-classifier-with-knn/versions/1/Iris.csv...
Creando/actualizando
cvs creado correctamente en

In [7]:
df1.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [8]:
df2= datagen.leer_ruta("/workspaces/pad20252_1/src/clases_ad/static/csv/winemag-data_first150k.csv")
df2.head(2)

,country,designation,points,price,province,region_1,region_2,variety,winery,last_year_points
0,US,Martha's Vineyard,96.0,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,94
1,Spain,Carodorum Selección Especial Reserva,96.0,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,92