# Pandas

## contenido
- Fundamentos y E/S
- Selección, filtrado e indexación 
- Limpieza y preparación de datos 
- Transformaciones y funciones
- Agrupaciones, pivotes y ventanas 
- Joins, concat y reshaping 
- Series de tiempo 
- Texto y categóricos
- Rendimiento y depuración
- Visualización con Matplotlib 

[Cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

# importaciones

In [ ]:
import numpy as np
import pandas as pd
from pathlib import Path

# rutas

In [ ]:
np.random.seed(42)
data_dir = Path('static/data/')
data_dir.mkdir(parents=True, exist_ok=True)

# Fundamentos y E/S

### Crear Series y DataFrames

![Serie](static/img/serie.png) ![DataFrame](static/img/dataframe.png)

In [13]:
s = ["x","y","z"]
series = pd.Series(s, name="S")
print(series)

0    x
1    y
2    z
Name: S, dtype: object

In [14]:
a = [1,2,3]
b = ["x","y","z"]
df = pd.DataFrame({"A":a, "B":b})
print(df)

   A  B
0  1  x
1  2  y
2  3  z

### Lectura

In [20]:
# ruta
ruta_csv = "static/csv/winemag-data_first150k.csv"
# variable
#lectura de csv
df_csv = pd.read_csv(ruta_csv,delimiter=";")
df_csv.head(2)
#lectura de excel
#ruta_excel = "static/excel/mi_excel.xlsx"
#df_excel = pd.read_excel(ruta_excel, sheet_name="Hoja1")
#LECTURA DE JSON
# ruta_json = "static/json/mi_json.json"  
# df_json = pd.read_json(ruta_json)
#LECTURA DE HTML
# ruta_html = "static/html/mi_html.html"
# df_html = pd.read_html(ruta_html)
#LECTURA DE PARQUET
# ruta_parquet = "static/parquet/mi_parquet.parquet"    
# df_parquet = pd.read_parquet(ruta_parquet)

,country,designation,points,price,province,region_1,region_2,variety,winery,last_year_points
0,US,Martha's Vineyard,96.0,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,94
1,Spain,Carodorum Selección Especial Reserva,96.0,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,92

### Selección de columnas

In [22]:
columnas = ['country', 'designation', 'points', 'price', 'province', 'region_1','region_2', 'variety', 'winery', 'last_year_points']
columnas

['country',
 'designation',
 'points',
 'price',
 'province',
 'region_1',
 'region_2',
 'variety',
 'winery',
 'last_year_points']

In [23]:
columnas_filtradas = ['country', 'designation', 'price']
df_csv['country'].head(2)

0       US
1    Spain
Name: country, dtype: object

In [25]:
columnas_filtradas = ['country', 'designation', 'price']
df_csv[columnas_filtradas].head(2)
#df_2 =df_csv[columnas_filtradas].head(2)

  country                           designation  price
0      US                     Martha's Vineyard  235.0
1   Spain  Carodorum Selección Especial Reserva  110.0

### Información general dataframe

In [26]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144037 entries, 0 to 144036
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   country           144035 non-null  object
 1   designation       100211 non-null  object
 2   points            144032 non-null  float64
 3   price             130641 non-null  float64
 4   province          144030 non-null  object
 5   region_1          120192 non-null  object
 6   region_2          58378 non-null   object
 7   variety           144032 non-null  object
 8   winery            144032 non-null  object
 9   last_year_points  144037 non-null  int64
dtypes: float64(2), int64(1), object(7)
memory usage: 11.0+ MB

In [28]:
df_csv.describe()

              points          price  last_year_points
count  144032.000000  130641.000000     144037.000000
mean       87.873424      33.123399         89.998452
std         3.215821      36.368177          6.050240
min        80.000000       4.000000         80.000000
25%        86.000000      16.000000         85.000000
50%        88.000000      24.000000         90.000000
75%        90.000000      40.000000         95.000000
max       100.000000    2300.000000        100.000000

### Tipos de Conversion

In [29]:
len(df_csv)

144037

In [33]:
df_csv["date_f"]= np.random.choice(pd.date_range("2025-01-01", "2025-12-31"), size=len(df_csv))
df_csv["date_f"].head(2)

0   2025-10-30
1   2025-02-01
Name: date_f, dtype: datetime64[ns]

In [ ]:
df_fecha = pd.DataFrame()
df_fecha["fecha"] = pd.to_datetime(df_csv["date_f"], format="%Y-%m-%d")
#df_fecha["fecha"] = pd.to_datetime(df_csv["date_f"], format="%Y-%m-%d")
df_fecha["fecha"].head(2)

0   2025-10-30
1   2025-02-01
Name: fecha, dtype: datetime64[ns]

In [36]:
df_fecha.min()

fecha   2025-01-01
dtype: datetime64[ns]

In [37]:
df_fecha.max()

fecha   2025-12-31
dtype: datetime64[ns]

### Guardado de subconjunto

In [39]:
df_fecha["fecha2"] = pd.to_datetime(df_csv["date_f"], format="%Y-%m-%d").copy()

In [41]:
df_fecha[df_fecha["fecha2"] > "2025-08-31"].copy()

            fecha     fecha2
0      2025-10-30 2025-10-30
6      2025-10-25 2025-10-25
7      2025-11-26 2025-11-26
14     2025-12-04 2025-12-04
15     2025-12-10 2025-12-10
...           ...        ...
144028 2025-09-03 2025-09-03
144029 2025-12-22 2025-12-22
144030 2025-09-13 2025-09-13
144031 2025-10-09 2025-10-09
144033 2025-09-29 2025-09-29

[48140 rows x 2 columns]

### Creación de indice

In [43]:
# definir la columna fecha como indice
indices =   df_fecha.set_index("fecha").copy()
print(indices.head(2))
# crear indice general
indices2 = df_fecha.reset_index().copy()
print(indices2.head(2))

               fecha2
fecha
2025-10-30 2025-10-30
2025-02-01 2025-02-01
   index      fecha     fecha2
0      0 2025-10-30 2025-10-30
1      1 2025-02-01 2025-02-01

### valores unicos

In [44]:
indices2["fecha"].nunique()

365

### Ordenar

In [46]:
indices2.sort_values(by="fecha", ascending=True).head(10)

         index      fecha     fecha2
59647    59647 2025-01-01 2025-01-01
31258    31258 2025-01-01 2025-01-01
84176    84176 2025-01-01 2025-01-01
17906    17906 2025-01-01 2025-01-01
133859  133859 2025-01-01 2025-01-01
23126    23126 2025-01-01 2025-01-01
124404  124404 2025-01-01 2025-01-01
37430    37430 2025-01-01 2025-01-01
3860      3860 2025-01-01 2025-01-01
405        405 2025-01-01 2025-01-01

# Selección, filtrado e indexación

### loc / iloc

In [48]:
df_fecha.loc[500:, ["fecha"]]

            fecha
500    2025-03-14
501    2025-10-01
502    2025-01-07
503    2025-08-02
504    2025-07-24
...           ...
144032 2025-03-13
144033 2025-09-29
144034 2025-03-22
144035 2025-06-22
144036 2025-07-01

[143537 rows x 1 columns]

In [53]:
df_fecha.reset_index()

         index      fecha     fecha2
0            0 2025-10-30 2025-10-30
1            1 2025-02-01 2025-02-01
2            2 2025-02-11 2025-02-11
3            3 2025-04-24 2025-04-24
4            4 2025-01-27 2025-01-27
...        ...        ...        ...
144032  144032 2025-03-13 2025-03-13
144033  144033 2025-09-29 2025-09-29
144034  144034 2025-03-22 2025-03-22
144035  144035 2025-06-22 2025-06-22
144036  144036 2025-07-01 2025-07-01

[144037 rows x 3 columns]

In [64]:
df_csv.iloc[3:5, 0:2]

  country designation
3      US     Reserve
4  France  La Brûlade

### filtrado por condiciones

In [65]:
df_csv.columns

Index(['country', 'designation', 'points', 'price', 'province', 'region_1',
       'region_2', 'variety', 'winery', 'last_year_points', 'date_f'],
      dtype='object')

In [66]:
df_csv[(df_csv['date_f'] == "2025-10-31 00:00:00") & (df_csv['points'] > 90)].head(5)

,country,designation,points,price,province,region_1,region_2,variety,winery,last_year_points,date_f
1350,US,Estate Vineyard,91.0,44.0,California,Fort Ross-Seaview,Sonoma,Chardonnay,Failla,82,2025-10-31
3965,US,Reserve,91.0,150.0,California,Napa Valley,Napa,Cabernet Sauvignon,Ideology,80,2025-10-31
6311,US,Firepeak,92.0,33.0,California,Edna Valley,Central Coast,Pinot Noir,Baileyana,82,2025-10-31
7519,Germany,NaN,92.0,37.0,Baden,NaN,NaN,Pinot Noir,Huber,96,2025-10-31
8547,Italy,SP 68,92.0,30.0,Sicily & Sardinia,Terre Siciliane,NaN,Red Blend,Occhipinti,94,2025-10-31

### filtrado por multiplex condiciones

In [67]:
df_csv[(df_csv['price'].isin([10,50])) & (df_csv['points'].between(75,95))].head(5)

,country,designation,points,price,province,region_1,region_2,variety,winery,last_year_points,date_f
48,Italy,NaN,90.0,50.0,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Brunelli Martoccia,98,2025-11-14
68,US,Schindler Vineyard,91.0,50.0,Oregon,Eola-Amity Hills,Willamette Valley,Pinot Noir,Panther Creek,94,2025-09-17
89,US,Magnificat,91.0,50.0,California,Napa Valley,Napa,Meritage,Franciscan,90,2025-08-28
90,US,NaN,86.0,10.0,California,California,California Other,Cabernet Sauvignon,Belle Ambiance,83,2025-04-28
94,Portugal,Muros de Vinha,86.0,10.0,Douro,NaN,NaN,Portuguese Red,Quinta do Portal,98,2025-07-08

### isin

In [69]:
df_csv['price'].isin([10,50]).head(2)

0    False
1    False
Name: price, dtype: bool

### BETWEEN

In [ ]:
(df_csv['points'].between(75,95)).head(5) # QUERY

0    False
1    False
2    False
3    False
4     True
Name: points, dtype: bool

### QUERY

In [72]:
((df_csv['points'] >= 75) & (df_csv['points'] <= 95)).head(5)

0    False
1    False
2    False
3    False
4     True
Name: points, dtype: bool

### top-k por grupo

In [74]:
df_csv.sort_values('price', ascending= True).groupby('country').head(10)

,country,designation,points,price,province,region_1,region_2,variety,winery,last_year_points,date_f
98513,Spain,Estate Bottled,84.0,4.0,Levante,Yecla,NaN,Tempranillo,Terrenal,92,2025-10-22
109697,US,White Zinfandel,83.0,4.0,California,California,California Other,Zinfandel,Round Hill,80,2025-11-03
47305,US,NaN,86.0,4.0,California,California,California Other,Merlot,Bandit,97,2025-05-08
121434,US,NaN,86.0,4.0,California,California,California Other,Merlot,Bandit,85,2025-05-14
24886,US,NaN,86.0,4.0,California,California,California Other,Merlot,Bandit,97,2025-11-25
...,...,...,...,...,...,...,...,...,...,...,...
114188,Egypt,Caspar Blanc de Noirs,84.0,NaN,Egypt,NaN,NaN,Grenache,Sahara Vineyards,91,2025-04-24
114213,Egypt,Caspar,84.0,NaN,Egypt,NaN,NaN,Chenin Blanc,Sahara Vineyards,98,2025-01-25
115051,Egypt,NaN,83.0,NaN,Egypt,NaN,NaN,Viognier,Sahara Vineyards,97,2025-02-24
132359,Tunisia,Selian Mystère,87.0,NaN,Tunisia,NaN,NaN,Rosé,Domaine Neferis,81,2025-01-18
134014,Tunisia,Selian,85.0,NaN,Tunisia,NaN,NaN,White Blend,Domaine Neferis,94,2025-09-28