In [2]:
import pandas as pd

## Reto 1

Tienes un DataFrame de clientes con nombre, edad y ciudad. Filtra los clientes mayores de 30 años y crea una columna 'rango' que clasifique la edad en 'Joven' (<40) y 'Adulto' (>=40).

In [3]:
nombres = ["Monica","Melani","Gladis","Andres","Maria"]
edades = [23,34,29,41,25]
ciudades = ["Medellín","Bogota","Cali","Cartagena","Bucaramanga"]
df_personas = pd.DataFrame({
    "nombres":nombres,
    "edades":edades,
    "ciudades":ciudades
})

In [4]:
df_personas.head(2)

  nombres  edades  ciudades
0  Monica      23  Medellín
1  Melani      34    Bogota

In [ ]:
df_30 = df_personas[df_personas["edades"]>30].copy()
df_30.head(2)
#

  nombres  edades   ciudades
1  Melani      34     Bogota
3  Andres      41  Cartagena

Puedos hacer una funcion def ó puedo tener lamda

In [6]:
df_30["rango"]=df_30["edades"].apply(lambda x: "Joven" if x<40 else "Adulto")
df_30.head()

  nombres  edades   ciudades   rango
1  Melani      34     Bogota   Joven
3  Andres      41  Cartagena  Adulto

## Reto 2

Un DataFrame contiene productos y sus precios. Normaliza los precios entre 0 y 1 usando lambda.

In [7]:
productos = ["Leche","Arroz","Cafe","Aceite","Azucar"]
precios = [6000,4000,15000,8500,2500]
#min_precio, max_precio = max(precios),min(precios)
df_productos = pd.DataFrame({
    "productos":productos,
    "precios":precios
})
min_precio, max_precio = df_productos["precios"].min(),df_productos["precios"].max()
print(min_precio, max_precio)

2500 15000

In [8]:
df_productos["precios_normal"]=df_productos["precios"].apply(lambda x: (x-min_precio)/(max_precio-min_precio))
df_productos.head()

  productos  precios  precios_normal
0     Leche     6000            0.28
1     Arroz     4000            0.12
2      Cafe    15000            1.00
3    Aceite     8500            0.48
4    Azucar     2500            0.00

## Reto 3 Generar etiquetas de ingresos

Un DataFrame de empleados contiene salarios. Crea una columna 'nivel_ingreso' con 'Alto' si el salario > 4000, 'Medio' entre 2000-4000 y 'Bajo' si <2000.